In [10]:
# JDBC connection properties
jdbc_url = "jdbc:derby://localhost:1527//opt/sparkplayground/metastore/hive_derby"
jdbc_driver = "org.apache.derby.jdbc.ClientDriver"

table_name = "SYS.SYSTABLES"
# Read data from the JDBC source
df = spark.read.format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", table_name) \
    .option("driver", jdbc_driver) \
    .load()

df.where("TABLETYPE NOT IN('S')").show()

+--------------------+--------------------+---------+--------------------+---------------+
|             TABLEID|           TABLENAME|TABLETYPE|            SCHEMAID|LOCKGRANULARITY|
+--------------------+--------------------+---------+--------------------+---------------+
|83ba410f-0197-836...|                 DBS|        T|80000000-00d2-b38...|              R|
|a05c0120-0197-836...|     DATABASE_PARAMS|        T|80000000-00d2-b38...|              R|
|5938c13e-0197-836...|                 CDS|        T|80000000-00d2-b38...|              R|
|2ef60150-0197-836...|                TBLS|        T|80000000-00d2-b38...|              R|
|c5044162-0197-836...|              SERDES|        T|80000000-00d2-b38...|              R|
|e306c173-0197-836...|  SKEWED_STRING_LIST|        T|80000000-00d2-b38...|              R|
|3213c186-0197-836...|                 SDS|        T|80000000-00d2-b38...|              R|
|517b0199-0197-836...|       TAB_COL_STATS|        T|80000000-00d2-b38...|              R|
|a06741aa-0197-836...|           SORT_COLS|        T|80000000-00d2-b38...|              R|
|7f9bc1bb-0197-836...|          COLUMNS_V2|        T|80000000-00d2-b38...|              R|
|ff1881cc-0197-836...|        TABLE_PARAMS|        T|80000000-00d2-b38...|              R|
|2edd81dd-0197-836...|      PARTITION_KEYS|        T|80000000-00d2-b38...|              R|
|1eeac1ee-0197-836...|      BUCKETING_COLS|        T|80000000-00d2-b38...|              R|
|df4041ff-0197-836...|SKEWED_COL_VALUE_...|        T|80000000-00d2-b38...|              R|
|7fde0210-0197-836...|       SKEWED_VALUES|        T|80000000-00d2-b38...|              R|
|10c40221-0197-836...|SKEWED_STRING_LIS...|        T|80000000-00d2-b38...|              R|
|a1f24232-0197-836...|           SD_PARAMS|        T|80000000-00d2-b38...|              R|
|4368c243-0197-836...|        SERDE_PARAMS|        T|80000000-00d2-b38...|              R|
|05278254-0197-836...|    SKEWED_COL_NAMES|        T|80000000-00d2-b38...|              R|
|6f2b430a-0197-836...|          PARTITIONS|        T|80000000-00d2-b38...|              R|
+--------------------+--------------------+---------+--------------------+---------------+
only showing top 20 rows

In [5]:
table_name = "SYS.SYSSCHEMAS"
# Read data from the JDBC source
df = spark.read.format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", table_name) \
    .option("driver", jdbc_driver) \
    .load()

df.show()

+--------------------+----------+---------------+
|            SCHEMAID|SCHEMANAME|AUTHORIZATIONID|
+--------------------+----------+---------------+
|c013800d-00f8-5b5...|    SYSIBM|            APP|
|8000000d-00d0-fd7...|       SYS|            APP|
|c013800d-00fb-264...|    SYSCAT|            APP|
|c013800d-00fb-264...|    SYSFUN|            APP|
|c013800d-00fb-264...|   SYSPROC|            APP|
|c013800d-00fb-264...|   SYSSTAT|            APP|
|c013800d-00fb-264...|    NULLID|            APP|
|c013800d-00fb-264...|      SQLJ|            APP|
|c013800d-00fb-264...|SYSCS_DIAG|            APP|
|c013800d-00fb-264...|SYSCS_UTIL|            APP|
|80000000-00d2-b38...|       APP|            APP|
+--------------------+----------+---------------+

In [11]:
table_name = "APP.TBLS"
# Read data from the JDBC source
df = spark.read.format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", table_name) \
    .option("driver", jdbc_driver) \
    .load()

df.show()

+------+-----------+-----+----------------+-----+---------+------------------+-----+--------------------+--------------+------------------+------------------+
|TBL_ID|CREATE_TIME|DB_ID|LAST_ACCESS_TIME|OWNER|RETENTION|IS_REWRITE_ENABLED|SD_ID|            TBL_NAME|      TBL_TYPE|VIEW_EXPANDED_TEXT|VIEW_ORIGINAL_TEXT|
+------+-----------+-----+----------------+-----+---------+------------------+-----+--------------------+--------------+------------------+------------------+
|    11| 1750322637|    6|               0| root|        0|                 N|   11|           customers|EXTERNAL_TABLE|              NULL|              NULL|
|    12| 1750322637|    6|               0| root|        0|                 N|   12|            products|EXTERNAL_TABLE|              NULL|              NULL|
|    13| 1750322638|    6|               0| root|        0|                 N|   13|              stores|EXTERNAL_TABLE|              NULL|              NULL|
|    14| 1750322638|    6|               0| root|        0|                 N|   14|        sales_orders|EXTERNAL_TABLE|              NULL|              NULL|
|    15| 1750322638|    6|               0| root|        0|                 N|   15|       sales_details|EXTERNAL_TABLE|              NULL|              NULL|
|    21| 1750433390|    2|               0| root|        0|                 N|   21|commercial_proper...|EXTERNAL_TABLE|              NULL|              NULL|
+------+-----------+-----+----------------+-----+---------+------------------+-----+--------------------+--------------+------------------+------------------+